[Unit]
Description= Assistant Manager Service
After=mnt-data.mount

[Service]
User=root
Type=simple
WorkingDirectory=/root
ExecStart=/usr/sbin/assismgr -s /root/public -c /root/HaPerfMonitor_config.json
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target