[Unit]
Description=Mount HAOS partition based on rauc.slot
DefaultDependencies=no
After=dev-disk-by\x2dlabel-hass\x2dimg0.device hassos-overlay.service
Before=homeassistant.service
ConditionPathExists=/proc/cmdline

[Service]
Type=oneshot
ExecStart=/usr/libexec/haos-image
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target