[Unit]
Description=Dropbear persistent user
Requires=mnt-overlay.mount
After=mnt-overlay.mount
Before=homeassistant.service

[Mount]
What=/mnt/overlay/root/.cache
Where=/root/.cache
Type=None
Options=bind

[Install]
WantedBy=hassos-bind.target
